@using RunBoyarovRun.Shared

@inherits LayoutComponentBase

<header>
    <NavMenu Brand="@GlobalConstants.ClubName" />
</header>

<main role="main" class="container-fluid flex-fill background-wrapper">
    @Body
</main>

<footer class="footer text-center text-run-muted bg-run-dark">
    <div>
        @GlobalConstants.ClubName - &copy; 2021
    </div>
</footer>
