@using RunBoyarovRun.Shared

@inherits LayoutComponentBase

<header>
    <NavMenu Brand="@GlobalConstants.ClubName" />
</header>

<main role="main" class="container py-3 overflow-auto">
    @Body
</main>

<footer class="footer text-center text-muted bg-dark ">
    <div>
        @GlobalConstants.ClubName - &copy; 2021
    </div>
</footer>
