@page "/membership"

<h1>Членство</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis eleifend turpis vitae luctus. Mauris sit amet justo id leo euismod blandit et eu quam. Fusce ac sapien purus. Nunc volutpat facilisis ex, et consectetur tortor eleifend non. Suspendisse posuere vel augue eget rutrum. Ut id eros porta neque porta pellentesque. Duis vitae felis tempus, hendrerit dui rutrum, lobortis nisl. Proin justo odio, consequat sed nulla eget, accumsan semper metus. Vivamus vel arcu commodo, consequat tellus vel, tincidunt lorem. Morbi a luctus libero. In in nisl varius, viverra odio vitae, faucibus eros. Vivamus commodo leo mi, eget placerat ante fringilla sit amet. Donec efficitur, est vel convallis accumsan, metus risus luctus elit, vitae hendrerit tortor justo in nunc. Fusce ultrices nisi in porta tristique. Donec nec sapien eu eros vestibulum iaculis. Proin vehicula, urna sit amet euismod feugiat, dui lectus tincidunt elit, id lobortis risus sapien non lacus.

    Maecenas sodales ut dui vel vulputate. Maecenas a vulputate orci. Vivamus nulla erat, varius et aliquam ac, laoreet non turpis. Aenean tempor nisi sed libero finibus, vel auctor nunc ultricies. Proin in ullamcorper nulla, et aliquet diam. Morbi vehicula rutrum est, venenatis pulvinar arcu consectetur eget. Praesent vehicula sagittis rhoncus. Phasellus at quam dolor. Fusce et ligula mi. Mauris ultricies justo sed dui efficitur porttitor. Etiam nec sodales magna. Ut id nulla sed risus euismod vehicula quis at est. Aenean in diam justo. Vestibulum quis sollicitudin tellus.

    Fusce posuere sapien quis nisi hendrerit, a interdum purus cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras posuere massa diam, suscipit iaculis purus consectetur id. Integer rutrum scelerisque accumsan. Quisque a porttitor urna. Nam cursus venenatis nisl in varius. Aliquam quis arcu sapien. Suspendisse ut magna non dolor varius faucibus nec eget turpis. Donec quis efficitur velit, at imperdiet elit. Quisque sit amet ornare ipsum. Donec aliquam nisl non metus iaculis, a tincidunt neque elementum. Donec non magna id orci euismod cursus at non sem. Proin pellentesque leo sit amet ex malesuada ornare. Nullam tristique metus non dui faucibus gravida. Vestibulum ipsum lorem, rhoncus ac aliquam eget, commodo at ipsum.

    Quisque varius nibh purus. Maecenas laoreet libero non porttitor dignissim. In vel justo eget ex scelerisque hendrerit. Nam malesuada ante in orci gravida rutrum. Praesent ut ornare enim. Fusce at urna nibh. Nulla id risus libero. Suspendisse porta risus ac tellus malesuada, vitae accumsan urna accumsan. Ut sit amet augue molestie, bibendum enim vitae, elementum erat.

    Maecenas pretium volutpat porta. Integer scelerisque elit et nisl convallis laoreet. Phasellus risus nibh, euismod nec nisl sit amet, tincidunt convallis lacus. Nulla facilisi. Donec erat erat, pretium eget odio id, dapibus pellentesque nisi. Sed sed mattis ex. Sed vel ligula nulla.
</p>

<button class="btn btn-primary" @onclick="BecomeAMember">Заяви членство</button>

@code {
    private void BecomeAMember()
    {
        //TODO: implement when specific requirements are given 
    }
}
